@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

/* -------- Start style assets -------- */

:root {

    /* Primary color */
    --Soft-orange: hsl(35, 77%, 62%);
    --Soft-red: hsl(5, 85%, 63%);
    
    /* Neutral color */
    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);
    
    /* Typography */
    --font-size-paragraph: 15px;
    --font-family: 'Inter', sans-serif;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    --font-weight-extraBold: 800;
}

/* -------- End style assets -------- */


/* Start reset page default */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* End reset page default */


/* Start container rules */

.container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 89px;
    overflow-x: hidden;
}

/* End container rules */


/* Start Header */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 56px;
}

.nav_bar .nav_bar-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.nav_bar .nav_bar-list a {
    text-decoration: none;
    color: var(--Dark-grayish-blue);
    font-size: var(--font-size-paragraph);
    font-family: var(--font-family);
    font-weight: var(--font-weight-bold);
}

.nav_bar .nav_bar-list a:hover {
    color: var(--Soft-orange);
}

/* End Header */


/* Start Hero */

.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    align-items: stretch;
    gap: 16px;
    margin-bottom: 62px;
}

/* Hero Left */
.hero .left {
    display: flex;
    flex-direction: column;
    gap: 33px;
    width: fit-content;
}

.hero .left .left_content .title {
    color: var(--Very-dark-blue);
    font-family: var(--font-family);
    font-size: 56px;
    font-weight: var(--font-weight-extraBold);
    line-height: 102%; /* 57.12px */
    letter-spacing: 1.12px;
} 

.hero .left .left_content {
    display: flex;
    flex-direction: row;
    gap: 68px;
}

.hero .left .left_content .cta_content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 34px;
    justify-content: space-between;
    width: fit-content;
}

.hero .left .left_content .cta_content .sub_title {
    color: var(--Dark-grayish-blue);
    font-family: var(--font-family);
    font-size: var(--font-size-paragraph);
    font-weight: var(--font-weight-regular);
    line-height: 157%; /* 23.55px */
    width: 351px;
}
.hero .left .left_content .cta_content .cta {
    background-color: var(--Soft-red);
    color: var(--Off-white);
    
    font-family: var(--font-family);
    font-size: var(--font-size-paragraph);
    font-weight: var(--font-weight-bold);
    line-height: 157%; /* 23.55px */
    letter-spacing: 3.6px;
    text-decoration: none;
    
    padding: 11px 33px;
}


/* Hero right */

.hero .right {
    background-color: var(--Very-dark-blue);
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 21px 24px;
    width: 100%;
}

.hero .right .news_header {
    color: var(--Soft-orange);
    font-family: var(--font-family);
    font-size: 40px;
    font-weight: var(--font-weight-extraBold);
    line-height: 157%; /* 62.8px */
}

.hero .right .post .news_title {
    color: var(--Off-white);
    font-family: var(--font-family);
    font-size: 20px;
    font-weight: var(--font-weight-extraBold);
    line-height: 157%; /* 31.4px */
    padding-bottom: 6px;
}

.hero .right .post .news_subtitle {
    color: var(--Grayish-blue);
    font-family: var(--font-family);
    font-size: var(--font-size-paragraph);
    font-weight: var(--font-weight-regular);
    line-height: 171%; /* 25.65px */
    width: 290px;
}

hr {
    border-width: 1px;
    border-color: var(--Dark-grayish-blue);
    width: 303.002px;
}


/* End Hero */


/* Start Blog */

.blog {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;

    margin-bottom: 130px;
}

.blog .blog_post {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-grow: 1;
    gap: 24px;

    height: fit-content;
    /* width: 100%; */
}

.blog .blog_post img {
    width: 100px;
    height: 127px;
}


.blog .blog_post .blog_post-content {
    display: flex;
    flex-direction: column;
}

.blog .blog_post .blog_post-content .blog_post-content-count {
    color: var(--Grayish-blue);
    font-family: var(--font-family);
    font-size: 32px;
    font-weight: var(--font-weight-bold);
    line-height: 157%; /* 50.24px */
}

.blog .blog_post .blog_post-content .blog_post-content-title {
    color: var(--Very-dark-blue);
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: var(--font-weight-bold);
    line-height: 157%; /* 28.26px */
    letter-spacing: 0.18px;
    margin-bottom: 8px;
}

.blog .blog_post .blog_post-content .blog_post-content-subtitle {
    color: var(--Dark-grayish-blue);
    font-family: var(--font-family);
    font-size: var(--font-size-paragraph);
    font-weight: var(--font-weight-regular);
    line-height: 164%; /* 24.6px */
    width: 229px;
}





/* End Blog */

























